@import url("./header.css");
@import url("./footer.css");

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 16px;

	font-family: "Montserrat", sans-serif;
}

#main {
	position: relative;

	background-image: url("../assets/salon.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	height: 50vh;

	padding: 150px 0;
}

#main::before {
	content: "";

	position: absolute;
	top: 0;

	z-index: 0;

	width: 100%;
	height: 100%;
	background-color: #0009;
}

#wrapperMain {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	max-width: 500px;

	padding: 70px;

	background: rgba(255, 255, 255, 0.137);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);

	color: white;

	border-radius: 10px;
}

#wrapperMain > h3 {
	font-size: 1.5em;
	margin-bottom: 20px;
}

#inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;

	margin-bottom: 20px;
}

#inputs > div {
	display: flex;
	flex-direction: column;
}

input[type="submit"] {
	background: none;
	border: 1px solid #eb8727;
	padding: 4px 10px;
	color: white;

	font-family: "Montserrat", sans-serif;
	font-size: 1em;

	cursor: pointer;
	
	transition: color 100ms ease, background-color 100ms ease;
}

input[type="submit"]:hover {
	background: #eb8727;
	
	color: black;
}

footer {
	margin-top: auto;
}

@media (max-width: 800px){
	#wrapperMain{
		padding: 40px;
	}
}